@use "../1-foundations/" as *;

// ==================================================================
// Components / Button
// ==================================================================

.c-button {
  color: white;
  background: orange;
  border: 2px solid blue;
}

// ==================================================================
// Components / Button
// ==================================================================

.c-button {
  color: white;
  background: orange;
  border: 2px solid blue;
}
