@use "../1-foundations/" as *;

// ==================================================================
// Components / Menu
// ==================================================================

.c-menu {
  display: flex;
  gap: var(--space-s);
  margin-top: 2rem;
}

// ==================================================================
// Components / > Menu > Item
// ==================================================================

.c-menu__item {
  &--active {
    text-decoration: underline;
  }
}
